.error {
    color: #ff0000;
    font-weight: 800;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

div {
    display: flex;
    flex-direction: column;
    gap: 3px;
    // --cal-ar: #ff0000;
    --cal-ef: #bbbbbb;
    background-color: var(--main-color, var(--cal-ef, #123456))
}