<form [formGroup]="form" (ngSubmit)="submit()">
  <fieldset>
    <legend>Темы (храним выбранные значения)</legend>

    @for (t of topicsAll; track t) {
      <label>
        <input type="checkbox"
               [checked]="isChecked(t)"
               (change)="onToggle(t, $any($event.target).checked)">
        {{ t }}
      </label>
    }

    @if (topicsCtrl.invalid && (topicsCtrl.touched || topicsCtrl.dirty)) {
      <small>
        @if (topicsCtrl.errors?.['minLengthArray']) {
          Выберите минимум {{ topicsCtrl.errors?.['minLengthArray'].required }}
        }
      </small>
    }
  </fieldset>

  <button type="submit">Сохранить</button>

  <input type="date">
</form>